<div class="container-fluid">

    <div class="row my-3">
      <div class="col-12">
        <h5>Фильтр по имени и фамилии</h5>
        <input type="search" class="form-control" placeholder="Имя и/или фамилия"
        [(ngModel)]="searchStr" />
      </div>
    </div>

    <div class="row my-3">
      <div class="col-2">
        <b>Сортировать по </b></div>
        <div class="col-4">
            <select class="mt-3 mb-3 form-control"
            [(ngModel)]="column">
            <option value="byid">id</option>
            <option value="byage">возрасту</option>
            </select>
        </div>
      <div class="col-3">
        от большего к меньшему <input type="checkbox" 
        [(ngModel)]="reverse">
      </div>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Фамилия</th>
          <th scope="col">Возраст</th>
          <th scope="col">Отдел</th>
          <th scope="col"></th>
          <th class="text-right" scope="col">
            <button class="btn btn-primary" 
            (click)="onAddProfile()">
              Добавить сотрудника
            </button>
          </th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let worker of workers | filters : searchStr | sort : column : reverse">
          <td scope="row">{{ worker.id }}</td>
          <td>{{ worker.name }}</td>
          <td>{{ worker.surname }}</td>
          <td>{{ worker.date_of_birth |countAge}}</td>
          <td>{{ worker.type | departmentName}}</td>
          <td><button class="btn btn-outline-danger" 
            (click)="onDelete(worker.id)"
            >Удалить
            </button></td>
          <td class="text-right">
            <button class="btn btn-outline-primary"
            (click)="onLinkProfile(worker.id)">
              Редактировать
            </button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>