<div class="row" *ngIf="workers.length > 0">
    <div class="col-12">
      <h5>{{ title }}</h5>
    </div>
    <table class="table" [style.width]="'80vw'">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Телефон</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let worker of workers | filters : searchStr">
            <th scope="row">{{ worker.id }}</th>
            <td>{{ worker.name }}</td>
            <td>{{ worker.surname }}</td>
            <td>{{ worker.phone }}</td>
            <td><button (click)="onDeleteWorker(worker.id)"
                class="btn btn-outline-danger btn-sm">Удалить</button> 
            </td>
            <td><button (click)="onEditWorker(worker.id)"
                class="btn btn-outline-primary btn-sm">Редактировать</button>
            </td>
        </tr>
        
        </tbody>
    </table>
</div>